<html lang="en">
<head>
  <title>Transaction Generator App!</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet" >
  <!-- Change the theme by changing the css file name. List of available files -
  cerulean.css - blue menubar, white background color
  cosmos.css - black menubar, white background color
  cyborg.css - full black (black background, grey foreground)
  darkly.css - dark blue menubar, dark grey background, green text.
  flatly.css - dark blue menubar, white background, dark blue text.
  united.css - orange menubar, white background
  -->
  <link href="{{ url_for('static',filename='css/themes/united.css') }}" rel="stylesheet" >
</head>
<body>
  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">Transaction Generator App!!!</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li>
            <a href="#">Home</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"> </a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="page-header">
        <h1>Transaction Generator App!</h1>
        <p class="lead">Transaction Generator App Demo</p>
    </div>

    <h3>Transactions</h3>
    <p>To create transactions, specify number of transactions and click on Run!</p>
      <div class="row">
        <div class="col-md-6">
          <form action="/run" method="post" class="form-inline">
            <label for="size">Number of transactions:</label>
            <input id="size" class="form-control" type="text" size="20" name="size" required="" />
            <input type="submit" value="Run" class="form-control btn btn-primary"/>
          </form>
        </div>
        <div class="col-md-6"></div>
      </div>


      <table class="table table-hover">
        <caption>Total transactions (so far): <b>{{ count }}</b></caption>
        <thead>
          <tr>
            <th>Serial No.</th>
            <th>Transaction Id</th>
            <th>Transaction time</th>
          </tr>
        </thead>
        <tbody>
          {% for sample in samples %}
            <tr>
              <td>{{ sample[0] }}</td>
              <td>{{ sample[1] }}</td>
              <td>{{ sample[2] }}</td>
            </tr>
          {% endfor %}
        <tbody>
      </table>
  </div>
</body>
</html>
